menu li{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	line-height: 60px;
}

header {
	border-bottom: 1px solid #ddd;
}

footer {
	border-top: 1px solid #ddd;
}

#contacts {
	border-bottom: 1px solid #ddd;
	margin: 10px;
}
